<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>New tweet</title>
    <meta http-equiv="Content-Type" content="text/html" ; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/twitterAdd.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.9.0/css/all.css}" media="all"/>
</head>
<body>
<header th:include="fragments/header :: pageheader"></header>
<div class="container card mt-3 col-md-6 transparent text-center">
    <div class="card-body">
        <h1 class="sep">Tweet  <i class="fab fa-twitter"></i>
        </h1>
        <br>
        <form th:action="@{/twitter/add}" method="post" th:object="${tweet}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <input type="hidden" name="user" th:field="*{user}"/>
            <input type="hidden" name="created" th:field="*{created}"/>
            <div class="form-group col-md-4 offset-md-4">
                <textarea class="form-control input-sm " type="textarea" id="message" placeholder="Tweet text"
                                  maxlength="140" rows="6" name="text" th:field="*{text}"></textarea>
                <span class="help-block"><p id="characterLeft"
                                            class="help-block ">You have reached the limit</p></span>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text error</div>
            <div><input class="btn btn-outline-primary" id="btnSubmit" type="submit" value="Save"/></div>
        </form>
    </div>
</div>
<br>
<br>
<footer th:include="fragments/footer :: pagefooter"></footer></body>
</body>
</html>