<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<header th:include="fragments/header :: pageheader"></header>

<a th:href="@{/twitter/add}">Add new tweet</a>

<table border="1">
    <tr>
        <th>User</th>
        <th>Text</th>
        <th>Created</th>
        <th>Comments number</th>
        <th>Actions</th>
    </tr>
    <tr th:each="tweet: ${tweets}">
        <td>
            <a th:href="@{/twitter/{id}(id=${tweet.user.id})}"><p th:text="${tweet.user.name}"></p></a>
        </td>
        <td th:text="|${#strings.abbreviate(tweet.text,30)}"></td>
        <td th:text="${#temporals.format(tweet.created, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${#lists.size(tweet.comments)}"></td>
        <td>
            <a th:href="@{/twitter/details/{id}(id=${tweet.id})}">Details</a>
            <p th:if="${tweet.user.id}==${userId}">
                <a th:href="@{/twitter/edit/{id}(id=${tweet.id})}">Edit</a>
                <a th:href="@{/twitter/delete/{id}(id=${tweet.id})}">Delete</a>
            </p>
        </td>
    </tr>
</table>
</body>
</html>