<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:include="fragments/header :: pageheader"></header>


<h3>User: </h3><p th:text="${tweet.user.name}" />
<h3>Text: </h3><p th:text="${tweet.text}" />
<h3>Created: </h3><p th:text="${#temporals.format(tweet.created, 'dd-MM-yyyy HH:mm')}" />

<hr>
<a th:href="@{/comment/add/{id}(id=${tweet.id})}">Add new comment</a>
<br>
<table border="1">
    <tr>
        <th>User</th>
        <th>Text</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    <tr th:each="comment: ${tweet.comments}">
        <td>
            <a th:href="@{/tweet/{id}(id=${tweet.user.id})}"><p th:text="${tweet.user.name}"></p></a>
        </td>
        <td th:text="|${#strings.abbreviate(comment.text,30)}"></td>
        <td th:text="${#temporals.format(comment.created, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:if="${comment.user.id}==${userId}">
                <a th:href="@{/comment/edit/{tweetId}/{id}(id=${comment.id}, tweetId=${comment.tweet.id})}">Edit</a>
                <a th:href="@{/comment/delete/{tweetId}/{id}(id=${comment.id}, tweetId=${comment.tweet.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>